<a href="https://colab.research.google.com/github/Evseha/neural-university/blob/main/%D0%A1%D0%B8%D0%BD%D1%82%D0%B0%D0%BA%D1%81%D0%B8%D1%81_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Задача 1

Напишем программу, которая просит пользователя ввести произвольную цифру от 1 до 9, а затем выводит таблицу умножения для введенного числа.

Добавим проверку введенной пользователем информации:
* данные должны быть целочисленного типа
* число должно находиться в диапазоне от 1 до 9

In [ ]:
integ = input("Введите произвольную цифру от 1 до 9: ")
for i in range(1,10):
  if int(integ) <= 9:
    print(f'{integ} * {i} =  {int(integ) * i}')
  else:
    print("Вы ввели не корректную информацию")

Введите произвольную цифру от 1 до 9: 2
2 * 1 =  2
2 * 2 =  4
2 * 3 =  6
2 * 4 =  8
2 * 5 =  10
2 * 6 =  12
2 * 7 =  14
2 * 8 =  16
2 * 9 =  18

## Задача 2

Напишем программу, которая ищет все числа в интервале от 300 до 430 включительно, делящиеся на 11, но не делящиеся на 5. Выведим на экран все найденные числа.

In [ ]:
for i in range(300,431):
  if i % 11 == 0:
    if i % 5 != 0:
      print(i, end=', ')

308, 319, 341, 352, 363, 374, 396, 407, 418, 429,

### Задача 3

Напишем функцию, которая принимает один параметр (год) и определяет, является ли этот год високосным.

Напомним, что ***високосными*** годами считаются те, порядковый номер которых либо кратен **4**, но при этом не кратен **100**, либо кратен **400** (например, 2000-й год являлся високосным, а 2100-й будет не високосным годом).

Программа должна корректно работать на числах **1900 ≤ n ≤ 3000**.

Функция должна вывести на экран "Високосный" в случае, если год является високосным и "Обычный" в противном случае.

In [ ]:
year = int(input("Введите произвольный год от 1900 до 3000: "))
if (year % 4 == 0 and year % 100 != 0) or year % 400 ==0:
  print('Високосный', end=" ")
else:
  print('Обычный', end=' ')

Введите произвольный год от 1900 до 3000: 2004
Високосный

### Задача 4

Создадим словарь (dict) c ключами, соответствующими числам от 1 до 10 включительно и значениями, соответствующими квадратам ключей.

In [ ]:
my_dict = {i:i**2 for i in range(1, 11)}
print(my_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### Задача 5

Напишем функцию простейшего калькулятора. Пользователь вводит число **a**, число **b** и вид арифметической операции над ними. Функция возвращает результат вычисления.

In [ ]:
def calc(a:int, b:int, c:str) -> any:
  if c == '+':
    return a + b
  elif c == '-':
    return a - b
  elif c == "*":
    return a * b
  elif c == '/':
    return a / b
  else:
    return 'неизвестная операция'

result = calc(int(input('Введите произвольное число a: ')),
              int(input('Введите произвольное число b: ')),
              input('Введите необходимое действие:'))
print('Результат:', result)

Введите произвольное число a: 2
Введите произвольное число b: 5
Введите необходимое действие:*
Результат: 10

### Задание 6

Напишем функцию, которая выбирает 2-х значные числа из списка с помощью функции filter и возвращает результат новым списком.

In [ ]:
lst = [96, 186, 11, 116, 183,  95, 181, 95, 55, 128, 54, 24, 21, 198, 118, 46, 166, 137, 24]

In [ ]:
new_lst = []
for i in lst:
  if (int(i) >= 10) and (int(i) < 100):
    new_lst.append(int(i))
print(new_lst)

[96, 11, 95, 95, 55, 54, 24, 21, 46, 24]

### Задание 7

---

Создайдим в директории `/content` папку `my_folder` и запишем в ней 10 файлов.

In [ ]:
import os

In [ ]:
# Создание новой папки в текущей директории
folder = input('Введите имя папки:')
os.makedirs(folder, exist_ok=True)

# Переход в созданную папку
os.chdir(folder)

# Создание 10 файлов в папке
for i in range(1, 11):
  file_name = f'file_{i}.txt'
  with open(file_name, 'w') as file:
      file.write(f'Это файл {i}\n')
      print(f'Файл создан {file_name} и записан')

# Возвращение в исходную директорию
os.chdir('..')
print(f'Вернулись в исходную директорию')

Введите имя папки:my_folder
Файд создан file_1.txt и записан
Файд создан file_2.txt и записан
Файд создан file_3.txt и записан
Файд создан file_4.txt и записан
Файд создан file_5.txt и записан
Файд создан file_6.txt и записан
Файд создан file_7.txt и записан
Файд создан file_8.txt и записан
Файд создан file_9.txt и записан
Файд создан file_10.txt и записан
Вернулись в исходную директорию

### Задание 8

---

Создадим код, который применяет функцию map к списку слов и использует анонимную функцию lambda для инвертирования порядка букв в каждом слове.

Пример:

```
было -> ['дом', 'квартира', 'поместье']
стало -> ['мод', 'аритравк', 'еьтсемоп']
```

In [ ]:
lst = ['дом', 'квартира', 'поместье']

new_lst = list(map(lambda x: x[::-1], lst))
print(f'Было -> {lst}')
print(f'Стало -> {new_lst}')

Было -> ['дом', 'квартира', 'поместье']
Стало -> ['мод', 'аритравк', 'еьтсемоп']